# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env
.env.*

# Logs
*.log

# Configurações da IDE
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db